$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #E14ECA;
$blue-color: #9747FF;

.Probe_Header {
    tr {
        th {
            font-size: 0.75rem !important;
            color: white !important;
            text-align: center !important;
            padding: 5px !important;
            height: fit-content;
            border: none !important;
            line-height: 1rem;
            border-bottom: 2px white solid !important;

            .status {
                &-container {
                    .running {
                        color: #00FF1A;
                    }

                    .pending {
                        color: #FFD233;
                    }

                    .stopped {
                        color: #FF1CE8
                    }

                    .failed {
                        color: #FF1C1C;
                    }
                }

                &-name {
                    width: 25%;
                }
            }
        }

        .probe_name {


            &-container {
                svg {
                    font-size: 0.7rem;
                }

                .Mui-active {
                    color: white;

                    .MuiTableSortLabel-icon {
                        color: white;
                    }
                }

                span {
                    display: flex;
                    justify-content: center;

                    &:hover {
                        color: white;
                    }
                    padding-left:14%;
                }
            }
        }


        .status {

            &-container {
                svg {
                    font-size: 0.7rem;
                }

                .Mui-active {
                    color: $pink-color;

                    .MuiTableSortLabel-icon {
                        color: white;
                    }
                }

                span {
                    display: flex;
                    justify-content: center;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}