$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #E14ECA;
$blue-color: #9747FF;

.sidebar {
    padding: 20px 10px;
    background-image: linear-gradient($pink-color, $blue-color);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    position: fixed;

    &-title {
        padding: 20px 5px;

        &-text {

            font-size: 0.9em;
            padding-bottom: 10px;
            border-bottom: 2px white solid;
            text-align: center;
        }
    }

    &-selections {
        a{
            display: flex;
            text-decoration: none;
            color: white;
            padding: 10px 10px;
            .selection {
                &-symbol {
                    // background-color: #0b0c24;
                    padding: 10px;
                }
    
                &-text {
                    font-size: 0.8em;
                    padding-left: 5px;
                }
            }
        }
    }

}