$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #e14eca;
$blue-color: #9747ff;
.addProbeModuleScreen {
    height: 100%;
    width: 100vw;
    background-color: rgba(48, 39, 39,0.8);
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    .addProbe {
        font-size: 0.9em;
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: whitesmoke 2px solid;
        border-radius: 10px;
        padding: 20px;
        padding-top: 0;
        background-color: $secondary;
        opacity: none;
        .field {
            width: 100%;
            .input_container {
                width: 100%;
                &-icon {
                    color: white;
                    padding: 10px 0;
                    svg {
                        padding-right: 5px;
                    }
                }
                &-input {
                    position: relative;
                    .commandInput{
                        margin-bottom: 10px;
                    }
                    .exception{
                        margin-bottom: 0;
                    }
                    input {
                        width: 100%;
                        background-color: $secondary;
                        outline: none;
                        border: 2px solid $pink-color;
                        border-radius: 5px;
                        padding: 5px 10px;
                        color: white;
                        &::placeholder {
                            color: white;
                            opacity: 0.7;
                        }
                    }
                    textarea {
                        width: 100%;
                        background-color: $secondary;
                        outline: none;
                        border: 2px solid $pink-color;
                        border-radius: 5px;
                        padding: 5px 10px;
                        color: white;
                        &::placeholder {
                            color: white;
                            opacity: 0.7;
                        }
                    }

                    select {
                        width: 100%;
                        background-color: $secondary;
                        outline: none;
                        border: 2px solid $pink-color;
                        border-radius: 5px;
                        padding: 5px 10px;
                        color: white;
                    }
                }
                &-mini {
                    width: 45%;
                }
                .exception {
                    width: 100% !important;
                }
            }
            .exception {
                width: 100% !important;
            }
        }
        .btn-container {
            padding-top: 10px;
            font-size: 0.7em !important;
            .btn {
                &-icon {
                    svg {
                        padding: 0 5px;
                        font-size: 0.7em !important;
                    }
                }
                &-text {
                    font-size: 0.7em !important;
                }
            }
            .close-btn {
                color: red;
                background-color: transparent;
                border: none;
                svg {
                    font-size: 2.5em !important;
                }
            }
        }
    }
}
