$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #FF1CE8;
$blue-color: #9747FF;
$mixcolor: linear-gradient(90deg, $pink-color, $blue-color);

.InterfaceManager {
    min-height: 78.5vh;
    padding: 20px;
    font-size: 0.8em !important;
    width: 100%;
    background-color: $secondary;
    border-radius: 30px;
    box-sizing: border-box;
    position: relative;

    &-action {
        margin: 20px 0;
        height: 30px;

        &-buttonAdd {
            button {
                background-image: $mixcolor ;
                font-size: 0.8em;
                color: white;
                border-radius: 20px;

                svg {
                    padding: 0 5px;
                }
            }
        }

    }
}