$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #e14eca;
$blue-color: #9747ff;
.interface{
    .interfaceImg{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 46px;
        
        img{
            height: 50px;
            width: 50px;
        }
    }
    .interfaceName{
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
        padding: 2px 0;
    }
}