$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #E14ECA;
$blue-color: #9747FF;
$mixcolor: linear-gradient(90deg, $pink-color, $blue-color);

.DBServerTable {
    width: 100%;

    .DBServerTableContainer {
        height: 400px;
        overflow: scroll;

        thead {
            tr {
                th {
                    color: white;
                    text-align: center;
                    padding: 10px 0;
                    background-color: $primary;
                }
            }
        }

        tbody {
            tr {
                td {
                    color: white;
                    text-align: center;
                    padding: 5px 0;
                    font-size: 1em;

                    .action {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;

                        button {
                            background-color: transparent;
                            outline: none;
                            border: none;

                            svg {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }

    .dbServerPagnitation {
        margin: 20px 0;

        ul {
            display: flex;
            justify-content: center;

            li {
                button {
                    color: white;
                }
                div{
                    color: white;
                }
            }
        }
    }
}