$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #E14ECA;
$blue-color: #9747FF;
$mixcolor: linear-gradient(90deg, $pink-color, $blue-color);
.ProbeHistory{
    width: 100%;
    height: 100%;
    background-color: $secondary;
    border-radius: 30px;
}