$primary: #0b0c24;
$secondary: #27293d;
$pink-color: #E14ECA;
$blue-color: #9747FF;
$mixcolor: linear-gradient(90deg, $pink-color, $blue-color);

.BackupRestoreHistory {
    min-height: 78.5vh;
    padding: 20px;
    font-size: 0.8em !important;
    width: 100%;
    background-color: $secondary;
    border-radius: 30px;
    box-sizing: border-box;
    position: relative;

    .BackupRestoreHistoryTable {
        width: 100%;

        .searchBar {
            // height: 40px;
            width: 100%;
            font-size: 0.8em;
            margin-bottom: 20px;

            .searchTitle {
                width: 16%;
                position: relative;
                align-items: center;

                input {
                    width: 100%;
                    background-color: $primary;
                    outline: none;
                    border: 2px solid $pink-color;
                    border-radius: 20px;
                    padding: 5px 0;
                    padding-left: 8%;
                    color: white;
                }

                svg {
                    position: absolute;
                    color: white;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 3%;
                }

                .conditionTitle {
                    font-size: 1.2em;
                    color: white;
                    padding: 5px;
                }
            }

            .searchDate {
                width: 13%;

                input {
                    width: 100%;
                    color-scheme: dark;
                    box-sizing: border-box;
                    color: white;
                    background-color: $primary;
                    padding: 5px 20px;
                    border: 2px solid $pink-color;
                    border-radius: 20px;
                    appearance: none;
                }

                .conditionTitle {
                    font-size: 1.2em;
                    color: white;
                    padding: 5px;
                }
            }

            .searchProbe,
            .chooseTimeRange {

                width: 12%;

                select {
                    width: 100%;
                    padding: 5px 20px;
                    border: 2px solid $pink-color;
                    border-radius: 20px;
                    background-color: $primary;
                    color: white;
                    appearance: none;
                    // background-image: url("../../../assets/pic/arrow.png");
                    background-repeat: no-repeat;
                    background-position: right 5% top 50%;
                    background-size: 0.65rem auto;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .conditionTitle {
                    font-size: 1.2em;
                    color: white;
                    padding: 5px;
                }
            }

            .SearchServer {
                width: 20%;
            }

            .searchButton {
                padding: 5px 15px;
                background: $mixcolor;
                border: none;
                border-radius: 20px;
                color: white;
                transition: ease-in-out 3000;


                &-icon {
                    padding: 0 5px;
                }
            }
        }
        .BackupRestoreHistoryTableContainer {
            height: 400px;

            thead {
                tr {
                    th {
                        color: white;
                        text-align: center;
                        padding: 10px 0;
                        background-color: $primary;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: white;
                        text-align: center;
                        padding: 5px 0;
                        font-size: 1em;

                        .action {
                            display: flex !important;
                            justify-content: center;
                            align-items: center;

                            button {
                                background-color: transparent;
                                outline: none;
                                border: none;

                                svg {
                                    font-size: 1.2em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .dbServerPagnitation {
            margin: 20px 0;

            ul {
                display: flex;
                justify-content: center;

                li {
                    button {
                        color: white;
                    }

                    div {
                        color: white;
                    }
                }
            }
        }
    }
}